h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#0393ff;
  text-align: left;
  margin: 15px;
  
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
  text-align: left;
  margin: 15px;
}

#mapid {
  height: 500px;
  margin: 5px; 
}